---
import PaginationItem from "@components/PaginationItem.astro";

interface Props {
    total: number;
    baseUrl: string;
    current: number;
}

const { total, baseUrl, current } = Astro.props;

let contents: [number, number, number];
if (current < 3) {
    contents = [2, 3, 4];
} else if (current > total - 2) {
    contents = [total - 3, total - 2, total - 1];
} else {
    contents = [current - 1, current, current + 1];
}
---

{
    total === 1 ? (
        <div />
    ) : total < 5 ? (
        <div class="flex justify-center items-center text-xl">
            {Array.from({ length: total }).map((_, index) => {
                return (
                    <PaginationItem
                        url={`${baseUrl}${index + 1}`}
                        selected={current === index + 1}
                        content={(index + 1).toString()}
                    />
                );
            })}
        </div>
    ) : (
        <div class="flex justify-center">
            <PaginationItem url={`${baseUrl}1`} selected={current === 1} content={"1"} />
            {current > 3 && "..."}
            {contents.map((index) => (
                <PaginationItem url={`${baseUrl}${index}`} selected={index === 1} content={index.toString()} />
            ))}
            {current < total - 3 && "..."}
            <PaginationItem
                url={`${baseUrl}${total}`}
                selected={current === contents.length}
                content={total.toString()}
            />
        </div>
    )
}
